// Business logic
$bug-border: $bug-border-width solid $border-colour;

$logo-left: $main-margin;
$logo-width: $logo-left + 7.75vw;

#bug {
    position: absolute;
    top: $bug-top;
    z-index: 2;

    > * {
        position: absolute;
        height: $bug-height;
        line-height: $bug-height;
        border: $bug-border;
        overflow: hidden;
        padding-left: 0.5vw;
        box-shadow: inset $lower-box-shadow, $right-box-shadow;
    }

    .noBoxShadow {
        box-shadow: none;
    }

    #logo {
		@include overlay($light-colour);
		@include bug-round-right;
		@include bug-transition(0s, 0.25s);

        width: $logo-width;
        z-index: 2;

        img {
            display: inline-block;
            position: absolute;

	        &#forge {
	            top: 0.55vw;
	            height: 1.8vw;
	            left: $logo-left;
	        }
        }
	}

    .liveSegment {
		@include overlay($colour-b);
		@include bug-round-right;
		@include bug-transition(0.5s, 0s);

		transition:
			opacity 0.5s $cubic-bezier,
			transform 0.5s $cubic-bezier,
			background 0.5s $cubic-bezier,
			color 0.5s $cubic-bezier;
		color: $dark-colour;

        padding-top: 0.1vw;
        width: 9vw;
        left: $logo-width - 2vw;
        z-index: 1;

		.liveSegmentText {
            transition: opacity .5s $cubic-bezier, transform .5s $cubic-bezier;
            text-align: center;

            > span {
		        font-size: 2.2vw;
                width: 100%;
                position: absolute;
                line-height: $bug-height;
                transform: translate(-54%, -4%) perspective(1px);
                padding-left: 1.2vw;
				font-weight: 700;
                letter-spacing: -0.15vw;
            }

			&.ng-hide {
				transition-timing-function: $cubic-bezier-reverse;
				transform: translate(50%, 0);
				opacity: 0;
			}

			&.ng-hide-remove {
				transform: translate(-50%, 0);
				opacity: 0;
			}
        }

		&.altLive {
			@include overlay($colour-c);
			color: $light-colour;
		}
    }
}
