// Business logic
$logo-left: $main-margin;
$logo-width: $logo-left + 7.75vw;

#bug {
    z-index: 2;

    > * {
		@include bug-styling;
    }

    .noBoxShadow {
        box-shadow: none;
    }

    #logo {
		@include overlay($light-colour);
		@include bug-round-right;
		@include bug-transition(0s, 0.25s);

        width: $logo-width;
        z-index: 2;

        img {
            display: inline-block;
            position: absolute;

	        &#forge {
	            top: 0.55vw;
	            height: 1.8vw;
	            left: $logo-left;
				opacity: 0.4;
				transform: scale(1.3) rotate(-6deg);
	        }
        }
	}

    .liveSegment {
		@include overlay($colour-b);
		@include bug-round-right;
		@include bug-transition(0.5s, 0s);

		transition:
			opacity 0.5s $cubic-bezier,
			transform 0.5s $cubic-bezier,
			background 0.5s $cubic-bezier,
			color 0.5s $cubic-bezier;
		color: $dark-colour;

        //padding-top: 0.1vw;
        width: 9vw;
        left: $logo-width - 2vw;
        z-index: 1;

		.liveSegmentText {
            transition: opacity .5s $cubic-bezier, transform .5s $cubic-bezier;
            text-align: center;

            > span {
				display: block;
		        font-size: 2.2vw;
                width: 9vw;
                position: absolute;
                line-height: $bug-height;
				font-weight: 700;
                letter-spacing: -0.15vw;
				left: 0.5vw;
            }

			&.ng-hide {
				transition-timing-function: $cubic-bezier-reverse;
				transform: translateX(10vw);
				opacity: 0;
			}

			&.ng-hide-remove {
				transform: translateX(-10vw);
				opacity: 0;
			}
        }

		&.altLive {
			@include overlay($colour-c);
			color: $light-colour;
		}
    }
}
