.barChart {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), lighten(#000000, 90%);
	//background-blend-mode: multiply, normal;
	width: 80vw;
	margin: 1vw 1vh;
	left: 10vw;
	top: 10vh;
	position: absolute;
	padding: 1vw 1vw;
	border-radius: 1vw;

	//width: 100vw;
	//margin: 0 auto;

	.barContainer {
		height: 2.5vw;
		margin: .5vw;
		overflow: hidden;

		* {
			float: left;
		}

		.bar {
			//margin: .5vw;
			//overflow: clip;
			//height: 75%;
			//position: relative;

			padding-right: .5vw;

			//text-align: right;

			//background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), #26bae1;
			//background-blend-mode: multiply, normal;

			border-radius: .5vw;

			transition: background 0.5s linear;

			//box-shadow: 0px 0px .4vw rgba(0, 0, 0, 0.45);

			//clear: left;

			* {
				float: none;
			}

			span {
				color: #ffffff;
				//position: relative !important;
			}

			span.tally {
				z-index: 2;
				float: right;
				font-weight: 700;
				//font-family: "AG Book Rounded Std Medium";
			}
		}

		> span {
			//float: left;
		}

		span, .name {
			//position: relative;
			//display: block;
			//white-space: nowrap;
			//width: 10vw;
			line-height: 2.5vw;
			font-size: 2vw;
			margin-left: .5vw;
			//font-family: "AG Book Rounded Std Regular";
			//clear: both;
		}

		.name {
			width: 10vw;
			text-overflow: fade;
		}
	}
}

#barChartContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	transition: opacity 0.1s linear;
	span.bcTitle {
		display: inline-block;
		text-align: center;
		width: 100%;
		position: absolute;
		top: 5vh;
		font-size: 3vw;
		transition: opacity 0.25s linear;
		color: #ffffff;
	}

	span small {
		color: #cccccc;
	}

	span.bcTitle.ng-hide {
		opacity: 0;
	}

	background: #2d2f7f;
	//border-radius: 1vw;
}

#barChartContainer.ng-hide {
	opacity: 0;
}
