.lowerThird.headlineLowerThird {
    transition: transform 1s $cubic-bezier, opacity 1s $cubic-bezier;


    // Container
    .lowerThirdContainer {
        .textRow {
            position: absolute;
            //background-color: #ff0000;
            //width: 40vw;
            //@include span(50%);
            width: $main-container-width;
        }
    }

    // Segments
    .segment {
        text-transform: uppercase;
    }

    .upperSegment {
        margin-top: 0.45vw;
        span {
            font-size: 1.5vw;
            //font-weight: 700;
            //padding-top: 0.65vw;
            //padding-bottom: 0.3vw;
            color: $yellow-colour;
            //letter-spacing: -0.2vw;
        }
    }

    .lowerSegment, .largeTopSegment {
        margin-top: 0.75vw;
        float: left;
        width: $main-container-width;
        span {
            //padding-top: 1.6vw;
            font-size: 4vw;
            font-weight: 500;
            color: $light-colour;
            //letter-spacing: -0.2vw;
        }
        transition: opacity 0.5s $cubic-bezier, transform 0.5s $cubic-bezier;
        transition-delay: 0.2s;
    }

    .largeTopSegment {
        span {
            color: $yellow-colour;
        }
    }


    // Segment animations
    .upperSegment.ng-hide-remove {
        //animation-delay: 3s;
    }

    //.lowerSegment.ng-hide {
    //    opacity: 0;
    //    transform: translateX(4vw);
    //}

    .lowerSegment.ng-hide-remove, .largeTopSegment.ng-hide-remove {
        opacity: 0;
        transform: translateX(-4vw);
    }


    // Segment backgrounds
    .upperSegmentBackground {
        background: $light-blue-colour;
        height: ($lower-third-height / 20) * 6;
        position: absolute;
        z-index: 2;
        width: 100vw;
        border-top-left-radius: $lower-third-border-radius;
        border-top-right-radius: $lower-third-border-radius;
        transition: opacity 0.5s $cubic-bezier, transform 0.5s $cubic-bezier;
    }

    .lowerSegmentBackground, .largeTopSegmentBackground {
        //@include span(10 of 12);
        background: $dark-blue-colour;
        position: absolute;
        top: ($lower-third-height / 20) * 6;
        height: ($lower-third-height / 20) * 14;
        width: 100vw;
        //transform: translateY(-$lower-third-height / 5);
        z-index: 3;
        //border-bottom-left-radius: $lower-third-border-radius;
        //border-bottom-right-radius: $lower-third-border-radius;
        transition: opacity 0.5s $cubic-bezier;
    }

    .largeTopSegmentBackground {
        background: $light-blue-colour;
        z-index: 0;
    }


    // Segment background animations
    .upperSegmentBackground.ng-hide {
        opacity: 0;
        transform: translateY(2vw);
    }

    .upperSegmentBackground.ng-hide-remove {
        transition-delay: 1.2s;
    }

    .lowerSegmentBackground.ng-hide-remove, .largeTopSegmentBackground.ng-hide-remove {
        //transform: translateY(-4vw);
        opacity: 0;
        //transition-delay: 0.75s;
    }

    .lowerSegmentBackground.ng-hide, .largeTopSegmentBackground.ng-hide {
        //transform: translateY(-5vw);
        //transition-delay: 1s;
        opacity: 0;
        transition-timing-function: $cubic-bezier-reverse;
        transition-delay: .5s;
    }

    .lowerSegmentBackground.ng-hide-add {
        transition-delay: 0s;
    }
    //
    //.largeTopSegmentBackground.ng-hide, .largeTopSegmentBackground.ng-hide-remove {
    //    transform: none;
    //}
}


// Lower third animations
.lowerThird.headlineLowerThird.ng-hide-add {
    transition: opacity 1s $cubic-bezier 2s;
}

//.lowerThird.headlineLowerThird {
//    transition: opacity 0.1s $cubic-bezier;
//    transform: none;
//}
