//$lower-third-border-radius: $lower-third-height / 10;
$lower-third-border-radius: 0;
$lower-third-border-width: 0;
$lower-third-border: $lower-third-border-width solid $border-colour;

$lower-third-height: $bug-top - $lower-third-top;

#lowerThirdBackground {
    //@include container(80vw);
    width: 100vw;
    position: absolute;
    margin-top: $lower-third-top;
    //height: $lower-third-height;

    transition: transform 0.5s $cubic-bezier, opacity 0.5s $cubic-bezier;

    > * {
        overflow: hidden;
        transform: perspective($perspective);
    }

    > div {
        border: $lower-third-border;
        box-shadow: inset $component-inset-shadow;
    }

    span {
        display: block;
    }

    .lowerThirdContainer {
        @include container(80vw);
    }

    .upperSegment {
        span {
            font-size: 2.25vw;
            //font-weight: 700;
            padding-top: 0.65vw;
            padding-bottom: 0.3vw;
            color: $light-colour;
        }
    }

    .upperSegment.segmentBackground {
        background: $dark-blue-colour;
        height: ($lower-third-height / 10) * 5;
        position: relative;
        z-index: 2;
        border-top-left-radius: $lower-third-border-radius;
        border-top-right-radius: $lower-third-border-radius;
    }

    .lowerSegment {
        span {
            padding-top: 1.6vw;
            font-size: 1.25vw;
            font-weight: 500;
            color: $light-colour;
        }
    }

    .lowerSegment.segmentBackground {
        //@include span(10 of 12);
        background: $light-blue-colour;
        position: relative;
        height: ($lower-third-height / 10) * 5;
        //transform: translateY(-$lower-third-height / 5);
        z-index: 0;
        //border-bottom-left-radius: $lower-third-border-radius;
        //border-bottom-right-radius: $lower-third-border-radius;
        transition: opacity 0.5s $cubic-bezier, transform 0.5s $cubic-bezier;
    }

    .lowerSegment.ng-hide-remove {
        transform: translateY(-4vw);
        opacity: 0;
        transition-delay: 0.75s;
    }

    .lowerSegment.ng-hide {
        transform: translateY(-5vw);
        opacity: 0;
        transition-timing-function: $cubic-bezier-reverse;
    }
}

#lowerThirdBackground.ng-hide-remove {
    opacity: 0;
}

#lowerThirdBackground.ng-hide-add {
    transition-delay: 0.6s;
}

#lowerThirdBackground.ng-hide {
    opacity: 0;
}
