.lowerThird {
    width: $lower-third-width;
    position: absolute;
	left: $lower-third-margin;
	top: $lower-third-top;

    z-index: 0;

    > * {
        overflow: hidden;
    }

    .lowerThirdContainer {
        left: $lower-third-container-margin;
        width: $main-container-width;

        position: absolute;
        z-index: 5;
    }

    .segment {
        white-space: nowrap;
        width: 100%;
        span {
            width: 100%;
            display: block;
        }
    }
}
