#socialHighlight {
	position: absolute;
	//top: 0px;
	//bottom: 0px;
	width: 25vw;
	height: 100vh;
	left: $main-margin;
	//border: 2px solid $dark-colour;

	> div {
		//@include fade(0.5s, 0s, 0.5s);
		//height: 20vh;
		width: 100%;
		position: absolute;
		bottom: 13vh;
		//border: 1px solid $dark-colour;
		//margin: 1vw;
	}

	ul {
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		//padding: 0.5vw;
		//padding-right: 0.7vw;
		//padding-bottom: 0.2vw;
		//border-radius: 1vw;
		//overflow: hidden;
		//box-shadow: $lower-box-shadow;
		//@include overlay($dark-colour);

		li {
			//@include fade(0.5s, 0s, 0s);
			@include flip-stagger;
			//opacity: 1;
			//transition: opacity 0.5s linear;
			height: 4.5vw;
			@include overlay($light-colour);
			border: 0.3vw solid $dark-colour;
			color: $dark-colour;
			box-shadow: $lower-box-shadow;
			padding: 0.6vw;
			//padding-left: 1vw;
			//margin-left: 0.3vw;
			//margin-top: 0.2vw;
			margin-bottom: 0.5vw;
			border-radius: 0.5vw;

			span {
				&.fa {
					font-size: 3vw;
					left: 0.5vw;
				}

				&.smid {
					font-size: 2vw;
					//top: 0.7vw;
					left: 4vw;
					top: 0.75vw;
					letter-spacing: -0.05em;
				}

				display: inline-block;
				top: 0.65vw;
				position: absolute;
				line-height: 3vw;
				//font-weight: 700;
				padding-left: 0.5vw;
			}

			//&.ng-hide {
			//	opacity: 0;
			//}
		}
	}
}
