#socialHighlight {
	@include popup-ul(4.5vw);

	span {
		&.fa {
			font-size: 3vw;
			left: 0.5vw;
			transform: translateY(-0.3vw);
		}

		&.smid {
			font-size: 2vw;
			//top: 0.7vw;
			left: 4vw;
			//top: 0.75vw;
			letter-spacing: -0.05em;
			transform: translateY(-0.2vw);
		}

		display: inline-block;
		//top: 0.65vw;
		position: absolute;
		line-height: 4.5vw;
		//font-weight: 700;
		padding-left: 0.5vw;
	}
}
