@keyframes ticker {
    0% {
        transform: translate3d(0%, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

#ticker {
	@include overlay($dark-colour);

    position: absolute;
    top: $lower-bug-top;
    height: $bug-height;
    width: 100vw;
	left: 0vw;
    color: $light-colour;
	box-shadow: $lower-box-shadow;
    transition: opacity 0.5s linear;

	&.ng-hide {
	    opacity: 0;
	}
}

.ticker-contents {
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: $ticker-duration;
}

.ticker-item {
    display: inline-block;
    padding-top: 0.25vw;
    font-size: 2.25vw;
    position: relative;

	&:after {
		display: inline-block;
	    padding-left: 6vw;
	    padding-right: 6vw;
	    content: "";
	}
}

.ticker-subject {
	@include slide-left(0.5s, 0.5s, 0s);
	@extend %bugPod;
	@include overlay($mid-colour);
	@include bug-round-right;
	//position: absolute;
	left: 15vw;
	padding-left: 10vw;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;

	span {
		//@extend %timerText;
		//position: absolute;
		color: $dark-colour;
		position: relative;
		width: 10vw;
		float: right;
		right: 0.5vw;
		font-size: 1.75vw;
		font-weight: 300;
		transform: translateY(0.2vw);
		letter-spacing: -0.08em;
	}
}
