// ----------------------
// - Layout -------------
// ----------------------
// Main containers
$main-container-width: 80vw;
$main-margin: (100vw - $main-container-width) / 2;

// Bug
$bug-top: 6vh;
$bug-height: 2.75vw;
$bug-logo-left: $main-margin;
$bug-logo-width: $bug-logo-left + ($bug-height * 2.85);

// Aux bugs
$aux-bug-left: $bug-logo-width - 4.5vw;

// Lower bug
$lower-bug-top: 88vh;

// Lower thirds
$lower-third-width: 80vw;
$lower-third-margin: (100vw - $lower-third-width) / 2;
$lower-third-container-width: $lower-third-width * 0.95;
$lower-third-container-margin: ($lower-third-width - $lower-third-container-width) / 2;
$lower-third-top: 65vh;
$lower-third-height: 8vw;


// ----------------------
// - Style --------------
// ----------------------
// Colours
$colour-a: #cccccc;
$colour-b: #ffdc00;
$colour-c: #d4326b;
$colour-d: #880000;
$dark-colour: #323232;
$mid-colour: #d0d0d0;
$light-colour: #ffffff;
$submid-colour: #555555;

// Border variables
$border-colour: $dark-colour;

// Bug
$bug-border-width: 0;
$bug-border: $bug-border-width solid $border-colour;
$bug-border-radius: $bug-height / 2;

// Lower thirds
$lower-third-border-radius: .5vw;
$lower-third-border-width: 0;
$lower-third-border: $lower-third-border-width solid $border-colour;

// Gradients
$overlay-background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
$inverse-overlay-background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
$gradient-split-bc: linear-gradient(to right, $colour-b 50%, $colour-b 49.99%, $colour-c 50.01%, $colour-c 100%);

// Shadows
$lower-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.45);
$right-box-shadow: 10px 0px 18px -10px rgba(0,0,0,0.45);


// ----------------------
// - Transitions and 3D -
// ----------------------
// Cubic beziers
$cubic-bezier: cubic-bezier(0, .75, .75, 1);
$cubic-bezier-reverse: cubic-bezier(.75, 0, 1, .25);
$overshoot-cubic-bezier: cubic-bezier(0, 1.5, 0.5, 1);

// Bug
$bug-transition-duration: 0.75s;

// ticker
$ticker-duration: 40s;

// 3D settings
$perspective: 50vw;
