@import 'dashboard/bootstrap';
@import 'fonts/lato';

* {
	box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

#forgeLogo {
    display: inline;
    height: 42px;
    transform: translateY(-5px);
    margin-right: 10px;
}

.checkbox.checkbox-indented {
    padding-left: 15px;
    border-left: 2px solid #eeeeee;
}

span.itemDescriptor {
	font-size: 24px;
	font-weight: 700;

	small {
		font-weight: 500;
	}
}

.queueItem {
	padding-bottom: 15px;
	border-bottom: 1px solid $gray-lighter;
	margin-bottom: 20px;
}

#rugbyScoreButtons .row {
	padding-bottom: 5px;
}
