@import "../bower_components/normalize-scss/_normalize";
@import "../bower_components/susy/sass/susy";
@import "../node_modules/spline-scss/dist/spline";

$colour-a: #cccccc;
$colour-b: #ffdc00;
$colour-c: #d4326b;
$colour-d: #880000;
$dark-colour: #323232;
$mid-colour: #d0d0d0;
$light-colour: #ffffff;
$submid-colour: #555555;

$overlay-background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
$inverse-overlay-background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
$component-inset-shadow: 0 0 0 0 rgba(0,0,0,0);
$lower-box-shadow: 0px 10px 18px -10px rgba(0,0,0,0.45);
$right-box-shadow: 10px 0px 18px -10px rgba(0,0,0,0.45);
$border-colour: $dark-colour;

$cubic-bezier: cubic-bezier(0, .75, .75, 1);
$cubic-bezier-reverse: cubic-bezier(.75, 0, 1, .25);
$overshoot-cubic-bezier: cubic-bezier(0, 1.5, 0.5, 1);

$perspective: 50vw;

$main-container-width: 80vw;
$main-margin: (100vw - $main-container-width) / 2;

$bug-top: 6vh;
$bug-height: 3vw;
$bug-logo-left: $main-margin;
$bug-logo-width: $bug-logo-left + 7.75vw;
$bug-border-width: 0;
$bug-border: $bug-border-width solid $border-colour;
$bug-border-radius: $bug-height / 2;
$bug-transition-duration: 0.75s;

$sport-bug-left: $bug-logo-width - 4.5vw;

$lower-third-top: 72vh;
$lower-third-height: 8vw;

$gradient-split-bc: linear-gradient(to right, $colour-b 50%, $colour-b 49.99%, $colour-c 50.01%, $colour-c 100%);

@import 'mixins/overlay';
@import 'mixins/transitions';
@import 'mixins/bug';
@import 'fonts/acumin';
@import 'varsity/teams';
@import 'bug';
@import 'bug/hashtag';
@import 'lowerThirds';
@import 'lowerThirds/title';
@import 'lowerThirds/teams';
@import 'ticker';
@import 'varsity/boxing';
@import 'varsity/rugby';

* {
    box-sizing: border-box;
    backface-visibility: hidden;
    background-clip: border-box;
    font-family: 'Acumin Pro', sans-serif;
	transform: perspective($perspective);
}

body {
    margin: 0;
    //padding: 0vw;
    background: transparent;
    //background: #00ff00;
    overflow: hidden;
    -webkit-font-smoothing: antialiased !important;
}

#main-container {
    position: absolute;
    top: $lower-third-top;
}
