// Varsity Graphics Theme

* {
    box-sizing: border-box;
    backface-visibility: hidden;
    background-clip: border-box;
    font-family: 'AG Book Rounded', sans-serif;
}

$light-blue-colour: #26bae1;
$yellow-colour: #fff100;
$dark-blue-colour: #2e3192;
$dark-colour: #333333;
$light-colour: #ffffff;

//$overlay-background: linear-gradient(to bottom, rgba(0,0,0,.1) 0%,rgba(0,0,0,.3) 50%,rgba(0,0,0,.25) 51%,rgba(0,0,0,.1) 100%);
$overlay-background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
//$component-inset-shadow: 0 0 1vw 0 rgba(0,0,0,0.5);
$component-inset-shadow: 0 0 0 0 rgba(0,0,0,0);
$border-colour: #333333;
$cubic-bezier: cubic-bezier(0, .75, .75, 1);
$cubic-bezier-reverse: cubic-bezier(.75, 0, 1, .25);
$perspective: 25vw;
$bug-top: 85vh;
$lower-third-top: 70vh;
$lower-third-height: $bug-top - $lower-third-top;

@import "../bower_components/susy/sass/susy";
@import 'fonts';
@import 'bug';
@import 'lowerThirds';

body {
    margin: 0;
    //padding: 0vw;
    background: transparent;
    //background: #00ff00;
    overflow: hidden;
    -webkit-font-smoothing: antialiased !important;
}

#main-container {
    position: absolute;
    top: 70vh;
}
