@import "normalize-scss/_normalize";
@import "susy/sass/susy";
$fa-font-path: "../../bower_components/font-awesome-sass/assets/fonts/font-awesome/";
@import "font-awesome-sass/assets/stylesheets/font-awesome";


@import 'variables';
@import 'mixins/overlay';
@import 'mixins/transitions';
@import 'mixins/bug';
@import 'mixins/popup';
@import 'fonts/acumin';
@import 'varsity/teams';
@import 'bug';
@import 'bug/hashtag';
@import 'lowerThirds';
@import 'lowerThirds/title';
@import 'lowerThirds/teams';
@import 'ticker';
@import 'social';
@import 'varsity/boxing';
@import 'varsity/rugby';
@import 'varsity/varsityLive';

* {
    box-sizing: border-box;
    backface-visibility: hidden;
    background-clip: border-box;
    font-family: 'Acumin Pro', sans-serif;
	transform: perspective($perspective);
}

body {
    margin: 0;
    //padding: 0vw;
    background: transparent;
    //background: #00ff00;
    overflow: hidden;
    -webkit-font-smoothing: antialiased !important;
}

#main-container {
    position: absolute;
    top: $lower-third-top;
}
