#varsityBug(ng-controller='generalCtrl', ng-class="{'vl': state.vLive}", ng-show="state.showVBug && state.showLogo")
    img(ng-src="/img/varsity{{state.vLive? '-live':''}}-{{state.bugBlack? 'black':'white'}}.svg")
