@mixin bug-round-right {
	border-top-right-radius: $bug-border-radius;
	border-bottom-right-radius: $bug-border-radius;
}

@mixin bug-round-left {
	border-top-left-radius: $bug-border-radius;
	border-bottom-left-radius: $bug-border-radius;
}

@mixin bug-transition($duration, $in-delay, $out-delay) {
	transition: opacity $duration $cubic-bezier, transform $duration $cubic-bezier;
	transition-delay: $in-delay !important;

	&.ng-hide {
		transform: translateX(-10vw);
		opacity: 0;
	}

	&.ng-hide-add,
	&.ng-hide-remove {
		transition: transform $duration $cubic-bezier, opacity $duration $cubic-bezier;
	}

	&.ng-hide-add {
		transition-timing-function: $cubic-bezier-reverse;
		transition-delay: $out-delay !important;
	}
}

@mixin live-segment-transition($duration, $in-delay, $out-delay) {
	transition: opacity .5s $cubic-bezier, transform .5s $cubic-bezier;

	&.ng-hide {
		transition-timing-function: $cubic-bezier-reverse;
		transform: translateX(10vw);
		opacity: 0;
	}

	&.ng-hide-remove {
		transform: translateX(-10vw);
		opacity: 0;
	}
}

%bug-styling {
	position: absolute;
	top: $bug-top;
	height: $bug-height;

	position: absolute;
	line-height: $bug-height;
	border: $bug-border;
	overflow: hidden;
	box-shadow: inset $lower-box-shadow, $right-box-shadow;

	letter-spacing: -0.15em;
}

@mixin bug-styling {
	@extend %bug-styling;
}
