@mixin bug-round-right {
	border-top-right-radius: $bug-border-radius;
	border-bottom-right-radius: $bug-border-radius;
}

@mixin bug-round-left {
	border-top-left-radius: $bug-border-radius;
	border-bottom-left-radius: $bug-border-radius;
}

@mixin bug-transition($duration, $in-delay, $out-delay) {
	transition: opacity $duration $overshoot-cubic-bezier, transform $duration $overshoot-cubic-bezier;
	transition-delay: $in-delay !important;

	&.ng-hide {
		transform: translateX(-10vw);
		opacity: 0;
	}

	&.ng-hide-add,
	&.ng-hide-remove {
		transition: transform $duration $overshoot-cubic-bezier, opacity $duration $overshoot-cubic-bezier;
	}

	&.ng-hide-add {
		transition-timing-function: $cubic-bezier-reverse;
		transition-delay: $out-delay !important;
	}
}

@mixin live-segment-transition($duration, $in-delay, $out-delay) {
	transition: opacity .5s $cubic-bezier, transform .5s $cubic-bezier;

	&.ng-hide, &.ng-leave-active {
		transition-timing-function: $cubic-bezier-reverse;
		transform: translateX(10vw);
		opacity: 0;
	}

	&.ng-hide-remove, &.ng-enter {
		transform: translateX(-10vw);
		opacity: 0;
	}
}

%bug-styling {
	//position: absolute;
	top: $bug-top;
	height: $bug-height;

	position: absolute;
	line-height: $bug-height;
	border: $bug-border;
	overflow: hidden;
	//box-shadow: inset $lower-box-shadow, $right-box-shadow;
	box-shadow: $right-box-shadow;

	letter-spacing: -0.15em;
}

@mixin bug-styling {
	@extend %bug-styling;
}

%bugPod {
	position: absolute;
	box-shadow: $right-box-shadow;
	content: "";
	height: $bug-height;
	z-index: 1;
	line-height: $bug-height;
}

%timerPod {
	@extend %bugPod;
	@include bug-round-right;
	@include overlay($dark-colour);
	width: 13vw;
}

%timerText {
	font-size: 2.2vw;
	left: 6.2vw;
	font-weight: 700;
	z-index: 2;
	color: $light-colour
}
