@mixin overlay($background-colour) {
	background: $overlay-background, $background-colour;
	background-blend-mode: multiply, normal;
}

@mixin inverse-overlay($background-colour) {
	background: $inverse-overlay-background, $background-colour;
	background-blend-mode: multiply, normal;
}
