@mixin flip-down($duration, $in-delay, $out-delay) {
	transition: opacity $duration $cubic-bezier, transform $duration $overshoot-cubic-bezier;
	transition-delay: $in-delay !important;
	transform-origin: center top 0;

	&.ng-hide-remove {
		//transform: translateY(-4vw);
		transform: rotateX(-90deg);
		//opacity: 0;
		//transition-delay: $in-delay;
	}

	&.ng-hide {
		transition-timing-function: $cubic-bezier-reverse;
		transition-delay: $out-delay !important;
		opacity: 0;
	}
}

@mixin fade($duration, $in-delay, $out-delay) {
	transition: opacity $duration $cubic-bezier;

	&.ng-hide-remove {
		transition-delay: $in-delay;
		opacity: 0;
	}

	&.ng-hide-add {
		transition-delay: $out-delay;
	}

	&.ng-hide {
		opacity: 0;
	}
}

@mixin scale-from-centre($duration, $in-delay, $out-delay) {
	transition: transform $duration $overshoot-cubic-bezier, opacity $duration $cubic-bezier;
	transform: scaleX(1);

	&.ng-hide-remove {
		transition-delay: $in-delay;
		transform: scaleX(0);
		opacity: 0;
	}

	&.ng-hide-add {
		transition-delay: $out-delay;
		transition-timing-function: $cubic-bezier-reverse;
	}

	&.ng-hide {
		transform: scaleX(0);
		opacity: 0;
	}
}
