include mixins

form
    include general/_main

    .page-header: h3 Varsity score
    include general/_varsityScore

    .page-header: h3 Ticker items
    include general/_ticker

    .page-header: h3 Matches/broadcasts coming up
    include general/_comingUp

    .page-header: h3 Maintenance
    include general/_maintenance
