doctype html
html(ng-app='cgApp')
    meta(charset='UTF-8')
    title ForgeCG #{project}
    link(href='/css/theme.css' rel='stylesheet')
body
    div
        include cg/general/bug
        include cg/general/sm
        include cg/general/varsity
        include cg/general/comingUp
        include cg/general/backSoon
        include cg/general/hashtag
        each include in includes
            div(ng-include=`'cgincludes/${include}.html'`)
    each script in scripts
        script(src=`/${script}.js`)
