body {
  font-family: 'Lato', sans-serif; }

#forgeLogo {
  display: inline;
  height: 42px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  margin-right: 10px; }

.checkbox.checkbox-indented {
  padding-left: 15px;
  border-left: 2px solid #eeeeee; }
