* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-clip: border-box;
  font-family: 'AG Book Rounded', sans-serif;
}

/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("/fonts/lato-v11-latin-100.woff2") format("woff2"), url("/fonts/lato-v11-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("/fonts/lato-v11-latin-100italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-100italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("/fonts/lato-v11-latin-300.woff2") format("woff2"), url("/fonts/lato-v11-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("/fonts/lato-v11-latin-300italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-v11-latin-regular.woff2") format("woff2"), url("/fonts/lato-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("/fonts/lato-v11-latin-italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("/fonts/lato-v11-latin-700.woff2") format("woff2"), url("/fonts/lato-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("/fonts/lato-v11-latin-700italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-v11-latin-900.woff2") format("woff2"), url("/fonts/lato-v11-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("/fonts/lato-v11-latin-900italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-900italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'AG Book Rounded';
  src: url("AGBookRounded-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AG Book Rounded';
  src: url("AGBookRounded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#bug {
  margin-left: 1vw;
  margin-top: 1vw;
}

#bug > * {
  position: absolute;
  height: 3vw;
  line-height: 3vw;
  border: 0 solid #333333;
  box-shadow: inset 0 0 0 0 transparent;
  overflow: hidden;
  padding-left: 0.5vw;
}

#bug #logo {
  width: 9.5vw;
  border-radius: 0.75vw;
  background: -webkit-linear-gradient(top, transparent 0%, transparent 100%), #26bae1;
  background: linear-gradient(to bottom, transparent 0%, transparent 100%), #26bae1;
  background-blend-mode: multiply, normal;
  z-index: 2;
}

#bug #logo img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

#bug #logo img#polls {
  height: 4vw;
  -webkit-transform: translateY(-10%) rotate(6deg);
          transform: translateY(-10%) rotate(6deg);
  opacity: 0.45;
  padding-left: 0.3vw;
}

#bug #logo img#forge {
  top: 0.65vw;
  height: 1.6vw;
  left: 3vw;
}

#bug #logo.ng-hide {
  -webkit-transform: translateX(-10vw);
          transform: translateX(-10vw);
  opacity: 0;
}

#bug #logo.ng-hide-add,
#bug #logo.ng-hide-remove {
  -webkit-transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: transform 0.5s cubic-bezier(0, 0.75, 0.75, 1), opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: transform 0.5s cubic-bezier(0, 0.75, 0.75, 1), opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
}

#bug #logo.ng-hide-add {
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
          transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

#bug .liveSegment {
  padding-top: 0.3vw;
  color: #ffffff;
  background: -webkit-linear-gradient(top, transparent 0%, transparent 100%), #2e3192;
  background: linear-gradient(to bottom, transparent 0%, transparent 100%), #2e3192;
  background-blend-mode: multiply, normal;
  font-size: 2vw;
  font-weight: 500;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.75, 0.75, 1) 0.3s;
  transition: all 0.5s cubic-bezier(0, 0.75, 0.75, 1) 0.3s;
  width: 8.5vw;
  left: 9vw;
  z-index: 1;
  border-top-right-radius: 0.75vw;
  border-bottom-right-radius: 0.75vw;
}

#bug .liveSegment .liveSegmentText {
  -webkit-transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), transform 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  text-align: center;
}

#bug .liveSegment .liveSegmentText > span {
  width: 100%;
  position: absolute;
  line-height: 3vw;
  -webkit-transform: translate(-50%, -10%) perspective(1px);
          transform: translate(-50%, -10%) perspective(1px);
  padding-left: 0.6vw;
}

#bug .liveSegment .liveSegmentText.ng-hide {
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
          transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
  opacity: 0;
}

#bug .liveSegment .liveSegmentText.ng-hide-remove {
  opacity: 0;
}

#bug .liveSegment.ng-hide {
  opacity: 0;
  -webkit-transform: translate(-5vw, 0);
          transform: translate(-5vw, 0);
}

#bug .liveSegment.ng-hide-add {
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
          transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#lowerThirds {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75vh;
}

#lowerThirds:after {
  content: " ";
  display: block;
  clear: both;
}

#lowerThirds > * {
  overflow: hidden;
  -webkit-transform: perspective(25vw);
          transform: perspective(25vw);
}

#lowerThirds .lowerThird {
  -webkit-transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), transform 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
}

#lowerThirds .lowerThird > div {
  border-radius: 1.5vw;
  border: 0 solid #333333;
  box-shadow: inset 0 0 0 0 transparent;
}

#lowerThirds .lowerThird span {
  display: block;
}

#lowerThirds .lowerThird .upperSegment {
  background: #ffffff;
  height: 3.6vw;
  z-index: 1;
}

#lowerThirds .lowerThird .upperSegment span {
  font-size: 2.25vw;
  font-weight: 700;
  padding-bottom: 0.3vw;
  color: #333333;
}

#lowerThirds .lowerThird .lowerSegment {
  position: relative;
  height: 3.6vw;
  -webkit-transform: translateY(-1.2vw);
          transform: translateY(-1.2vw);
  z-index: 2;
}

#lowerThirds .lowerThird .lowerSegment span {
  font-size: 1.25vw;
  font-weight: 500;
  color: #595959;
}

#lowerThirds .lowerThird.centreLowerThird {
  width: 66.1016949153%;
  float: left;
  margin-right: 1.6949152542%;
  margin-left: 16.9491525424%;
  text-align: center;
}

#lowerThirds .lowerThird.ng-hide-remove {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

#lowerThirds .lowerThird.ng-hide {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
          transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

body {
  margin: 0;
  background: transparent;
  overflow: hidden;
  -webkit-font-smoothing: antialiased !important;
}
