* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
  transition: translate3d(0, 0, 0);
}

/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("/fonts/lato-v11-latin-100.woff2") format("woff2"), url("/fonts/lato-v11-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("/fonts/lato-v11-latin-100italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-100italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("/fonts/lato-v11-latin-300.woff2") format("woff2"), url("/fonts/lato-v11-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("/fonts/lato-v11-latin-300italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-v11-latin-regular.woff2") format("woff2"), url("/fonts/lato-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("/fonts/lato-v11-latin-italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("/fonts/lato-v11-latin-700.woff2") format("woff2"), url("/fonts/lato-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("/fonts/lato-v11-latin-700italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-v11-latin-900.woff2") format("woff2"), url("/fonts/lato-v11-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("/fonts/lato-v11-latin-900italic.woff2") format("woff2"), url("/fonts/lato-v11-latin-900italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#bug {
  margin-left: 1vw;
  margin-top: 1vw;
}

#bug > * {
  position: absolute;
  height: 3vw;
  line-height: 3vw;
  border: 0.3vw solid #333333;
  box-shadow: inset 0 0 1vw 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding-left: 0.5vw;
}

#bug #logo {
  width: 8vw;
  border-radius: 1.5vw;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.25) 51%, rgba(0, 0, 0, 0.1) 100%), #ffdc00;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.25) 51%, rgba(0, 0, 0, 0.1) 100%), #ffdc00;
  background-blend-mode: multiply, normal;
  z-index: 2;
}

#bug #logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(-5%, -50%) rotate(-8deg) perspective(1px);
          transform: translate(-5%, -50%) rotate(-8deg) perspective(1px);
  height: 1.9vw;
  opacity: 0.65;
}

#bug #logo.ng-hide {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

#bug #logo.ng-hide-add,
#bug #logo.ng-hide-remove {
  -webkit-transition: all 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: all 0.5s cubic-bezier(0, 0.75, 0.75, 1);
}

#bug #logo.ng-hide-add {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#bug .liveSegment {
  color: #ffffff;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.25) 51%, rgba(0, 0, 0, 0.1) 100%), #d4326b;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.25) 51%, rgba(0, 0, 0, 0.1) 100%), #d4326b;
  background-blend-mode: multiply, normal;
  font-size: 2vw;
  font-weight: 900;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.75, 0.75, 1) 0.5s;
  transition: all 0.5s cubic-bezier(0, 0.75, 0.75, 1) 0.5s;
  width: 8.5vw;
  left: 7.5vw;
  z-index: 1;
  border-top-right-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
}

#bug .liveSegment .liveSegmentText {
  -webkit-transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  transition: opacity 0.5s cubic-bezier(0, 0.75, 0.75, 1), transform 0.5s cubic-bezier(0, 0.75, 0.75, 1), -webkit-transform 0.5s cubic-bezier(0, 0.75, 0.75, 1);
  text-align: center;
}

#bug .liveSegment .liveSegmentText span {
  width: 100%;
  position: absolute;
  line-height: 3vw;
  -webkit-transform: translate(-50%, -10%) perspective(1px);
          transform: translate(-50%, -10%) perspective(1px);
}

#bug .liveSegment .liveSegmentText.ng-hide {
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
          transition-timing-function: cubic-bezier(0.75, 0, 1, 0.25);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  opacity: 0;
}

#bug .liveSegment .liveSegmentText.ng-hide-remove {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
}

#bug .liveSegment.ng-hide {
  opacity: 0;
  -webkit-transform: translate(-5vw, 0);
          transform: translate(-5vw, 0);
}

#bug .liveSegment.ng-hide-add {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#lowerThirds {
  position: absolute;
  bottom: 1vw;
  width: auto;
  height: 5vw;
  left: 1vw;
  right: 1vw;
  background-color: #cccccc;
}

#lowerThirds .lowerThird {
  position: absolute;
  width: 50%;
  margin: 1vw;
  background-color: #888888;
}

#lowerThirds .lowerThird#lowerThirdRight {
  left: 50%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: transparent;
  overflow: hidden;
  -webkit-font-smoothing: antialiased !important;
}
