#hashtagContainer(ng-controller='generalCtrl', ng-show='state.showHashtag && state.showLogo && !state.logoLower')
    .hashtag(ng-animate-swap="htNumber")
        span(ng-class='hashtags[htNumber].classes') {{hashtags[htNumber].hashtag}}
