#socialHighlight(ng-controller='generalCtrl')
    div(ng-show='showSocial')
        ul: li(ng-repeat='outlet in socialMediaOutlets')
            span.fa(class='fa-{{outlet.icon}}')
            span.smid {{outlet.id}}
