<div ng-controller="varsityLiveCtrl">
	<div id="bgOverlay" ng-show="show.vo">

	</div>
	<div id="voicesOf" ng-show="show.vo">
		<span class="top">Voice<span class="il" ng-if="dataStores.vo.people.length != 1">s</span> of</span>
		<span class="name" ng-repeat="person in dataStores.vo.people">{{person}}</span>
		<span class="bottom" ng-if="dataStores.vo.venue">from <strong>{{dataStores.vo.venue}}</strong></span>
		<span class="bottom" ng-if="dataStores.vo.sport"><small>reporting on <strong>{{dataStores.vo.sport}}</strong></small></span>
	</div>
</div>

<div ng-controller="varsityLiveCtrl" id="igc">
	<div ng-show="show.igc">
		<span class="fa fa-phone"></span>
		<span class="smid">{{dataStores.igc.name}}</span>
		<span class="smsub sport">{{dataStores.igc.sport}}</span>
		<span class="smsub venue">{{dataStores.igc.venue}}</span>
	</div>
</div>

<div class="lowerThird vsc" ng-controller="generalCtrl" ng-show="showScoreGraphic">
	<!-- <img ng-src="/img/{{teamsContent.leftPosTeam.code}}.svg" ng-show="showScoreGraphic" class="logo leftLogo"/>
	<img ng-src="/img/{{teamsContent.rightPosTeam.code}}.svg" ng-show="showScoreGraphic" class="logo rightLogo"/> -->
	<img ng-src="/img/uos.svg" ng-show="showScoreGraphic" class="logo leftLogo"/>
	<img ng-src="/img/shu.svg" ng-show="showScoreGraphic" class="logo rightLogo"/>
	<div id="mtltContainer" ng-show="showScoreGraphic">
		<div class="teamContainer colourScheme uos" ng-style="{'width': (score.uos / (score.uos + score.shu)) * 100 + '%'}" id="leftTeamContainer">
			<!-- <span ng-show="showScoreGraphic" class="team">{{teamsContent.leftPosTeam.name}}</span> -->
			<span ng-show="showScoreGraphic" class="team">{{score.uos}}</span>
		</div>
		<div class="teamContainer colourScheme shu" ng-style="{'left': (score.uos / (score.uos + score.shu)) * 100 + '%', 'width': (score.shu / (score.uos + score.shu)) * 100 + '%'}"  id="rightTeamContainer">
			<!-- <span ng-show="showScoreGraphic" class="team">{{teamsContent.rightPosTeam.name}}</span> -->
			<span ng-show="showScoreGraphic" class="team">{{score.shu}}</span>
		</div>
	</div>
	<div class="auxContainer" ng-show="showScoreGraphic" id="sportContainer">
		<span>Sheffield Varsity 2017</span>
	</div>
	<div class="auxContainer" ng-show="showScoreGraphic" id="venueContainer">
		<span>40 to win</span>
	</div>
</div>
