<div ng-controller="varsityLiveCtrl">
	<div id="bgOverlay" ng-show="show.vo">

	</div>
	<div id="voicesOf" ng-show="show.vo">
		<span class="top">Voice<span class="il" ng-if="dataStores.vo.people.length != 1">s</span> of</span>
		<span class="name" ng-repeat="person in dataStores.vo.people">{{person}}</span>
		<span class="bottom" ng-if="dataStores.vo.venue">from <strong>{{dataStores.vo.venue}}</strong></span>
		<span class="bottom" ng-if="dataStores.vo.sport"><small>reporting on <strong>{{dataStores.vo.sport}}</strong></small></span>
	</div>
</div>

<div ng-controller="varsityLiveCtrl" id="igc">
	<div ng-show="show.igc">
		<span class="fa fa-phone"></span>
		<span class="smid">{{dataStores.igc.name}}</span>
		<span class="smsub sport">{{dataStores.igc.sport}}</span>
		<span class="smsub venue">{{dataStores.igc.venue}}</span>
	</div>
</div>
