.barChart {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)), lighten(#000000, 90%);
	width: 80vw;
	margin: 1vw 1vh;
	left: 10vw;
	top: 13vh;
	position: absolute;
	padding: 1vw 1vw;
	border-radius: 1vw;

	.barContainer {
		height: 2.5vw;
		margin: .5vw;
		overflow: hidden;

		* {
			float: left;
		}

		.bar {
			padding-right: .5vw;

			border-radius: .5vw;

			transition: background 0.5s linear;

			* {
				float: none;
			}

			span {
				color: #ffffff;

				&.tally {
					z-index: 2;
					float: right;
					font-weight: 700;
				}
			}
		}

		span {
			line-height: 2.5vw;
			font-size: 2vw;
			margin-left: .5vw;
		}

		.name {
			@extend span;

			width: 10vw;
			text-overflow: fade;
		}
	}
}

#barChartContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	transition: opacity 0.1s linear;
	background: #2d2f7f;

	span {
		small {
			color: #cccccc;
		}

		&.bcTitle {
			display: inline-block;
			text-align: center;
			width: 100%;
			position: absolute;
			top: 8vh;
			font-size: 3vw;
			transition: opacity 0.25s linear;
			color: #ffffff;

			&.ng-hide {
				opacity: 0;
			}
		}
	}

	&.ng-hide {
		opacity: 0;
	}
}
