<form>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <toggle ng-model="boxing.showBoxing" offstyle="btn-warning" onstyle="btn-danger"></toggle>
                Show Boxing bug
            </label>
        </div>
		<div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="boxing.roundComplete[0]"></toggle>
                Round 1 In Progress/Complete
            </label>
        </div>
		<div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="boxing.roundComplete[1]"></toggle>
                Round 2 In Progress/Complete
            </label>
        </div>
		<div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="boxing.roundComplete[2]"></toggle>
                Round 3 In Progress/Complete
            </label>
        </div>
		<div class="btn-group btn-group-lg" role="group">
			<button
				class="btn btn-success"
				ng-click="startTimer()"
				ng-disabled="!boxing.showBoxing">
				Start Timer
			</button>
			<button
				class="btn btn-warning"
				ng-click="resetTimer()"
				ng-disabled="!boxing.showBoxing">
				Reset Timer
			</button>
			<button
				class="btn btn-danger"
				ng-click="resetrounds()">
				Reset All
			</button>
		</div>
    </div>
</form>
