<form>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <toggle ng-model="general.showLogo"></toggle>
                Show Logo
            </label>
        </div>
        <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showLive" offstyle="btn-warning" onstyle="btn-danger"></toggle>
                Show LIVE/Clock
            </label>
        </div>
        <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showHashtag"></toggle>
                Show Hashtag
            </label>
        </div>
        <!-- <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showTicker"></toggle>
                Show Ticker
            </label>
        </div>
        <div class="form-group">
            <p>Ticker items</p>
            <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" ng-repeat="ti in general.tickerItems" placeholder="Headline"></input>
        </div> -->
        <div class="form-group">
            <button
                class="btn btn-danger"
                ng-click="triggerResetCG()">
                Reset Character Generator
            </button>
        </div>
    </div>
</form>
