<!-- <input type="checkbox" ng-model="general.showLive">Show Bug</checkbox> -->

<form>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <toggle ng-model="general.showLogo"></toggle>
                Show Logo
            </label>
        </div>
        <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showLive" offstyle="btn-warning" onstyle="btn-danger"></toggle>
                Show LIVE/Clock
            </label>
        </div>
    </div>
</form>
