@require 'dashboard/_variables'
@require 'dashboard/util/_mixins'

button.toggle-button
    display inline-block
    height 10vh
    min-height 64px
    width 100%
    padding 10px 20px

    background _button_clr_inactive
    color _button_clr_text
    outline none
    border none
    border-radius 5px
    cursor pointer

    text-align center
    text-decoration none
    font-size 32px
    font-family inherit
    font-weight bold

    &:hover
        background lighten(_button_clr_inactive, 20%)
    &:active
        background darken(_button_clr_inactive, 10%)
    &.active
        background _button_clr_active
        &:hover
            background darken(_button_clr_active, 15%)
        &:active
            background darken(_button_clr_active, 25%)
