@require 'dashboard/_variables'
@require 'dashboard/util/_mixins'

button.toggle-button
    display inline-block
    height 10vh
    min-height 64px
    width 100%
    padding 10px 20px

    background $_mx_gradient(_button_clr_inactive)
    color _button_clr_text
    outline none
    border none
    border-radius 10px
    cursor pointer

    text-align center
    text-decoration none
    font-size 32px
    font-family inherit
    font-weight bold

    &:hover
        background $_mx_gradient(lighten(_button_clr_inactive, 12%))
    &:active
        background $_mx_gradient(darken(_button_clr_inactive, 10%))
    &.active
        background $_mx_gradient_inverse(_button_clr_active)
        color _button_clr_text_active
        box-shadow inset 0px 2px 8px alpha(#000, 0.55)
        &:hover
            background $_mx_gradient_inverse(darken(_button_clr_active, 15%))
        &:active
            background $_mx_gradient_inverse(darken(_button_clr_active, 25%))
