$upper-background-height: ($lower-third-height / 8) * 5;
$lower-background-height: ($lower-third-height / 8) * 3;

.lowerThird.titleLowerThird {
    .lowerThirdContainer {
		%lowerThird {
			width: $lower-third-container-width;
			position: absolute;
		}

        .leftLowerThird {
			@extend %lowerThird;
        }

        .rightLowerThird {
			@extend %lowerThird;
            text-align: right;
        }
    }

	%titleSegment {}

	%titleSegmentBackground {}

    .upperSegment {
		@extend %titleSegment !optional;

		z-index: 8;

        span {
            font-size: 3vw;
            color: $light-colour;
            letter-spacing: -0.2vw;
			font-weight: 700;
			line-height: $upper-background-height;
        }

		&Background {
			@extend %titleSegmentBackground !optional;
			@include overlay($dark-colour);

			box-shadow: $lower-box-shadow;
			height: $upper-background-height;
			position: relative;
			z-index: 2;
			border-top-left-radius: $lower-third-border-radius;
			border-top-right-radius: $lower-third-border-radius;
		}
    }

    .lowerSegment {
		@extend %titleSegment !optional;
        span {
            font-size: 1.8vw;
            font-weight: 500;
            color: $dark-colour;
            letter-spacing: -0.1vw;
			line-height: $lower-background-height;
        }

		&Background {
			@extend %titleSegmentBackground !optional;
			@include overlay($light-colour);

			position: relative;
			box-shadow: $lower-box-shadow;
			height: $lower-background-height;
			z-index: 0;
			transition: opacity 0.5s $cubic-bezier, transform 0.5s $cubic-bezier;
			border-bottom-left-radius: $lower-third-border-radius;
			border-bottom-right-radius: $lower-third-border-radius;

			&.ng-hide-remove {
				transform: translateY(-4vw);
				opacity: 0;
				transition-delay: 0.75s;
			}

			&.ng-hide {
				transform: translateY(-5vw);
				opacity: 0;
				transition-timing-function: $cubic-bezier-reverse;
			}

		}
    }

	&.splitColour {
		.rightLowerThird .upperSegment span { color: $light-colour !important; }

		.upperSegment {
			span {
				color: $dark-colour;
			}

			&Background {
				@include overlay(linear-gradient(to right, $colour-b 50%, $colour-b 49.99%, $colour-c 50.01%, $colour-c 100%));
			}
		}
	}
}
