#igc(ng-controller='varsityLiveCtrl')
    div(ng-show='show.igc')
        span.fa.fa-phone
        span.smid {{dataStores.igc.name}}
        span.smsub.sport {{dataStores.igc.sport}}
        span.smsub.venue {{dataStores.igc.venue}}
