#lt(ng-controller='varsityLiveCtrl')
    div(ng-show='show.lt')
        span.fa(class='fa-{{dataStores.lt.icon}}')
        span.smid {{dataStores.lt.upper}}
        span.smsub.lower1 {{dataStores.lt.lower1}}
        span.smsub.lower2 {{dataStores.lt.lower2}}
