div(ng-controller='varsityLiveCtrl')
    #bgOverlay(ng-show='show.vo')
    #voicesOf(ng-show='show.vo')
        span.top Voice
            span.il(ng-if='dataStores.vo.people.length != 1') s
            |  of
        span.name(ng-repeat='person in dataStores.vo.people') {{person}}
        span.bottom(ng-if='dataStores.vo.venue') from
            strong  {{dataStores.vo.venue}}
        span.bottom(ng-if='dataStores.vo.sport')
            small reporting on
                strong  {{dataStores.vo.sport}}
