<form>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <toggle ng-model="general.showLogo"></toggle>
                Show Bug
            </label>
        </div>
        <!-- <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showLive" offstyle="btn-warning" onstyle="btn-danger"></toggle>
                Show LIVE/Clock
            </label>
        </div> -->
		<div class="checkbox checkbox-indented">
			<label>
				<toggle ng-model="general.showVBug"></toggle>
				Show Varsity bug
			</label>
		</div>
		<div class="checkbox checkbox-indented">
			<label>
				<toggle ng-model="general.bugBlack"></toggle>
				Varsity bug with black text
			</label>
		</div>
		<div class="checkbox checkbox-indented">
			<label>
				<toggle ng-model="general.showHashtag"></toggle>
				Show Hashtags/Twitter Handle {{general.logoLower ? "(requires bug to be in upper position)" : ""}}
			</label>
		</div>
		<div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showTicker"></toggle>
                Show Ticker {{general.logoLower ? "" : "(requires bug to be in lower position)"}}
            </label>
        </div>
		<!-- <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showSocial"></toggle>
                Show social media channels
            </label>
        </div> -->
		<div class="btn-group-vertical">
			<div class="btn-group">
				<button class="btn btn-warning" ng-click="triggerSocial()">Highlight social media channels</button>
			</div>
			<div class="btn-group">
				<button class="btn btn-danger" ng-click="toggleBugPosition()">
					<span class="glyphicon glyphicon-warning-sign"></span>
					Move bug to {{general.logoLower ? "upper" : "lower"}} position</button>
			</div>
		</div>
		<div>
			<span> Current bug position: {{general.logoLower ? "Lower" : "Upper"}}</span>
		</div>

		<!-- <div class="form-group">
			<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" placeholder="File" ng-model="votesCsvFile"></input>
			<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" placeholder="Position" ng-model="vwPos"></input>
			<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" placeholder="Winner" ng-model="vwWin"></input>
            <button
                class="btn btn-danger"
                ng-click="triggerVotesGraph()">
                Trigger Votes Graph
            </button>
			<button
                class="btn btn-danger"
                ng-click="triggerVotesGraphDestruction()">
                Destroy Votes Graph
            </button>
        </div> -->
        <div class="page-header">
            <h3>Ticker items</h3>
        </div>
		<div class="form-group">
			<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" ng-model="general.tickerSubject" placeholder="Ticker subject"></input>
		</div>
		<button class="btn btn-danger" ng-click="general.cTickerSubject = general.tickerSubject">Set ticker subject</button>
		<div class="checkbox">
            <label>
                <toggle ng-model="general.showTickerSubject"></toggle>
                Show ticker subject
            </label>
        </div>
        <div class="form-group">
            <div class="form-group">
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" ng-model="newTickerItem"></input>
            </div>
            <div class="btn-group-vertical">
            	<div class="btn-group">
            		<button
            		    class="btn btn-success"
            		    ng-click="addTickerItem()">
            		    <span class="glyphicon glyphicon-plus"></span> Add item
            		</button>
            	</div>
            	<div class="btn-group">
            		<button
            		    class="btn btn-warning"
            		    ng-click="commitTickerItems()">
            		    Update ticker
            		</button>
            	</div>
            	<div class="btn-group">
            		<button
            		    class="btn btn-danger"
            		    ng-click="resetTicker()">
            		    Reset ticker items
            		</button>
            	</div>
            </div>
            <!-- <div><span><small>Press this if you cannot add items to the ticker</small></span></div> -->
        </div>
        <div class="form-group container">
            <div ui-sortable ng-model="">
            	<div class="form-group row" ng-repeat="ti in general.tickerItems track by $index">
            	    <div class="col-md-1">
            	        <button
            	            class="btn btn-sm btn-warning"
            	            ng-click="removeTickerItem($index)">
            	            <span class="glyphicon glyphicon-minus"></span> Remove item
            	        </button>
            	    </div>
            	    <div class="col-md-11">
            	        <span>{{ti}}</span>
            	    </div>
            	</div>
            </div>
        </div>

		<div class="page-header">
			<h3>Matches/broadcasts coming up</h3>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<select class="form-control" ng-options="icon for icon in cuIcons" ng-model="cComingUp.icon"></select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="off" placeholder="Sport" ng-model="cComingUp.sport" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="off" placeholder="Network" ng-model="cComingUp.network" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<input type="text" class="form-control" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="off" placeholder="Time" ng-model="cComingUp.time" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group">
						<button class="btn btn-success" ng-click="dataStores.comingUp.push(cComingUp); cComingUp = {}" ng-disabled="dataStores.comingUp.length > 3"><span class="glyphicon glyphicon-plus"></span></button>
						<button class="btn btn-danger" ng-click="triggerComingUp(dataStores.comingUp)" ng-disabled="dataStores.comingUp.length < 1"><span class="glyphicon glyphicon-play"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="row" ng-repeat="cu in dataStores.comingUp">
				<span>{{cu}}</span>
				<button class="btn btn-warning" ng-click="dataStores.comingUp.splice($index, 1)"><span class="glyphicon glyphicon-minus"></span></button>
			</div>
		</div>

		<div class="page-header">
		    <h3>Maintenance</h3>
		</div>
        <div class="form-group">
            <div class="btn-group-vertical" role="group">
            	<button
            	    class="btn btn-danger"
            	    ng-click="triggerResetCG()">
            	    <span class="glyphicon glyphicon-warning-sign"></span> Reset Character Generator
            	</button>
            	<button
            	    class="btn btn-warning"
            	    ng-click="clearLocalStorage()">
            	    <span class="glyphicon glyphicon-trash"></span> Clear Dashboard local storage
            	</button>
            </div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="checkbox">
							<label><toggle ng-model="adv"></toggle>Show advanced options <small>(<span class="glyphicon glyphicon-warning-sign"></span> <strong>CAUTION:</strong> May cause production values to increase)</small></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label>
							<toggle ng-if="adv" ng-model="general.showSm[0]" class="btn-xs"></toggle>
							<span ng-if="adv"><img src="/img/sm.jpg" style="width: 20px;"></div>
						</label>
						<label>
							<toggle ng-if="adv" ng-model="general.showSm[1]" class="btn-xs"></toggle>
							<span ng-if="adv"><img src="/img/sm.jpg" style="width: 20px;"></div>
						</label>
						<label>
							<toggle ng-if="adv" ng-model="general.showSm[2]" class="btn-xs"></toggle>
							<span ng-if="adv"><img src="/img/sm.jpg" style="width: 20px;"></div>
						</label>
					</div>
				</div>
			</div>
        </div>
    </div>
</form>
