<form>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <toggle ng-model="general.showLogo"></toggle>
                Show Bug
            </label>
        </div>
        <!-- <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showLive" offstyle="btn-warning" onstyle="btn-danger"></toggle>
                Show LIVE/Clock
            </label>
        </div> -->
        <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showHashtag"></toggle>
                Show Hashtags/Twitter Handle
            </label>
        </div>
        <!-- <div class="checkbox checkbox-indented">
            <label>
                <toggle ng-model="general.showTicker"></toggle>
                Show Ticker
            </label>
        </div> -->
		<div class="page-header">
		    <h3>Maintenance</h3>
		</div>
        <div class="form-group">
            <div class="btn-group-vertical" role="group">
            	<button
            	    class="btn btn-danger"
            	    ng-click="triggerResetCG()">
            	    <span class="glyphicon glyphicon-warning-sign"></span> Reset Character Generator
            	</button>
            	<button
            	    class="btn btn-warning"
            	    ng-click="clearLocalStorage()">
            	    <span class="glyphicon glyphicon-trash"></span> Clear Dashboard local storage
            	</button>
            </div>
        </div>
		<!-- <div class="form-group">
			<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" placeholder="File" ng-model="votesCsvFile"></input>
			<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" placeholder="Position" ng-model="vwPos"></input>
			<input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" placeholder="Winner" ng-model="vwWin"></input>
            <button
                class="btn btn-danger"
                ng-click="triggerVotesGraph()">
                Trigger Votes Graph
            </button>
			<button
                class="btn btn-danger"
                ng-click="triggerVotesGraphDestruction()">
                Destroy Votes Graph
            </button>
        </div> -->
        <!-- <div class="page-header">
            <h3>Ticker items</h3>
        </div>
        <div class="form-group">
            <div class="form-group">
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" ng-model="newTickerItem"></input>
            </div>
            <button
                class="btn btn-success"
                ng-click="addTickerItem()">
                Add item
            </button>
            <button
                class="btn btn-warning"
                ng-click="commitTickerItems()">
                Update ticker (Instant; use carefully)
            </button>
            <button
                class="btn btn-danger"
                ng-click="resetTicker()">
                Reset ticker items
            </button>
            <span><small>Press this if you cannot add items to the ticker</small></span>
        </div>
        <div class="form-group container">
            <div class="form-group row" ng-repeat="ti in general.tickerItems track by $index">
                <div class="col-md-1">
                    <button
                        class="btn btn-sm btn-warning"
                        ng-click="removeTickerItem($index)">
                        Remove item
                    </button>
                </div>
                <div class="col-md-11">
                    <span>{{ti}}</span>
                </div>
            </div>
        </div> -->
    </div>
</form>
