<div class="page-header">
	<h3>Teams</h3>
</div>
<form>
	<div class="form-group">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-push-2">
					<input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="dataStores.teams.sport" placeholder="Sport">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"><select class="form-control" ng-model="dataStores.teams.leftPosTeam" ng-options="team.name for team in teams"></select></div>
				<div class="col-md-4"><select class="form-control" ng-model="dataStores.teams.rightPosTeam" ng-options="team.name for team in teams"></select></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-push-2"><input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="dataStores.teams.venue" placeholder="Venue"></div>
			</div>
		</div>
		<button class="btn btn-danger" ng-click="triggerTeamsLowerThird(dataStores.teams)"><span class="glyphicon glyphicon-play"></span> Trigger</button>
	</div>
</form>

<div class="page-header">
    <h3>Names <small>Triggers for 10 seconds</small></h3>
</div>
<form name="ltTitleForm">
    <div class="container">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="lowerThirdText">Left</label>
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control lowerThirdText" ng-model="dataStores.title.leftUpper" placeholder="Upper"></input>
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control lowerThirdText" ng-model="dataStores.title.leftLower" placeholder="Lower"></input>
            </div>
            <div class="form-group col-md-6">
                <label for="lowerThirdText">Right</label>
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control lowerThirdText" ng-model="dataStores.title.rightUpper" placeholder="Upper"></input>
                <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control lowerThirdText" ng-model="dataStores.title.rightLower" placeholder="Lower"></input>
            </div>
        </div>
    </div>
	<div class="form-group">
		<div class="checkbox">
            <label>
                <toggle ng-model="dataStores.title.titleClasses.splitColour"></toggle>
                Split Colour (UOS–SHU)
            </label>
        </div>
	</div>
	<div class="form-group">
        <div class="btn-group">
        	<button
        	class="btn btn-success"
        	ng-click="queueAdd()"><span class="glyphicon glyphicon-plus"></span> Add to queue</button>
			<button
        	class="btn btn-warning"
        	ng-click="dataStores.title = {}">Reset</button>
        </div>
    </div>
    <!-- <div class="form-group">
        <button
        class="btn btn-danger"
        ng-click="triggerTitleLowerThird()">Show</button></span>
    </div> -->
</form>

<div class="page-header">
    <h3>Queue <small>Drag to reorder</small> <small ng-show="!dataStores.queue.length">(no items)</small></h3>
</div>
<div ui-sortable ng-model="dataStores.queue">
	<div class="queueItem container" ng-repeat="item in dataStores.queue">
		<div class="row">
			<div class="col-md-1 col-sm-2 col-xs-2">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</div>
			<div class="col-md-3 col-sm-10 col-xs-10">
				<div class="btn-group" role="group">
					<button
					class="btn btn-danger"
					ng-click="triggerTitleLowerThird(item)"><span class="glyphicon glyphicon-play"></span></button>

					<button
					class="btn btn-warning"
					ng-click="editQueueItem(item, $index)"><span class="glyphicon glyphicon-edit"></span> Edit</button>

					<button
					class="btn btn-danger"
					ng-click="dataStores.queue.splice($index, 1)"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12"><span class="itemDescriptor"><small>Left:</small> {{item.leftUpper}}—{{item.leftLower}}, <small>Right:</small> {{item.rightUpper}}—{{item.rightLower}} <small>/ Options: {{item.titleClasses}}</small></span></div>
		</div>
	</div>
</div>

<!-- <div class="page-header">
    <h3>Breaking News <small>Stays on screen until hidden</small></h3>
</div>
<form>
    <div class="form-group">
        <label for="ltHeadline">Headline Lower Third Text (must be kept as short as possible)</label>
        <select class="form-control" ng-model="ltHeadlineDashEntries[0]" ng-options="topSel for topSel in topSelections"></select>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" ng-model="ltHeadlineDashEntries[1]" placeholder="Headline"></input>
    </div>
    <div class="form-group">
        <button
            class="btn btn-danger"
            ng-click="triggerHeadlineLowerThird()">Show</button>
        <button
            class="btn btn-warning"
            ng-click="updateHeadlineLowerThird()">Update</button>
        <button class="btn btn-success" ng-click="hideHeadlineLowerThird()">Hide</button>
    </div>
</form> -->

<!-- <div class="page-header">
    <h3>Ongoing <small>For ongoing events and clarification</small></h3>
</div>
<form>
    <div class="form-group">
        <label for="ltHeadline">Ongoing Lower Third Text</label>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" ng-model="ltOngoingDashEntries[0]" placeholder="Title"></input>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" ng-model="ltOngoingDashEntries[1]" placeholder="Subtitle"></input>
    </div>
    <div class="form-group">
        <button
            class="btn btn-danger"
            ng-click="triggerOngoingLowerThird()">Show</button>
        <button class="btn btn-success" ng-click="hideOngoingLowerThird()">Hide</button>
    </div>
</form> -->
