@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-UltraBlack.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-UltraBlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-UltraBlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-UltraBlack.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-UltraBlack.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-UltraBlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-UltraBlack.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-UltraBlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-UltraBlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-UltraBlack.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro';
	src: url('/fonts/AcuminPro-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro ExtraCondensed';
	src: url('/fonts/AcuminProExtraCond-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro SemiCondensed';
	src: url('/fonts/AcuminProSemiCond-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Acumin Pro Condensed';
	src: url('/fonts/AcuminProCond-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Acumin Pro Wide';
	src: url('/fonts/AcuminProWide-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}
%bug-styling {
	span {
		// Acumin-specific
		transform: translateY(0.25vw);
	}
}
