@font-face {
	font-family: 'AG Book Rounded';
	src: url('/fonts/AGBookRdMed.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AG Book Rounded';
	src: url('/fonts/AGBookRdReg.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
