_lgFactor = 15%

$_mx_gradient($_clr)
    linear-gradient(to bottom, lighten($_clr, _lgFactor * 0.45), darken($_clr, _lgFactor * 1.1))

$_mx_gradient_inverse($_clr)
    linear-gradient(to top, lighten($_clr, _lgFactor * 0.75), darken($_clr, _lgFactor * 1.5))
