<form>
	<div class="form-group" id="rugbyTeamSelects">
		<div class="container">
			<div class="row">
				<div class="col-md-4"><select class="form-control" ng-model="scratch.leftPosTeam" ng-options="team.name for team in teams"></select></div>
				<div class="col-md-4"><select class="form-control" ng-model="scratch.rightPosTeam" ng-options="team.name for team in teams"></select></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-danger" ng-click="setTeams()">Set teams</button>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="checkbox">
			<label>
                <toggle ng-model="rugby.showRugby" offstyle="btn-warning" onstyle="btn-danger"></toggle>
                <span ng-if="!rugby.leftPosTeam || !rugby.rightPosTeam"><strong><span class="glyphicon glyphicon-warning-sign"></span> SELECT TEAMS ABOVE!</span></strong> Show Rugby/Football bug
            </label>
		</div>
		<div class="page-header">
			<h3>Timer</h3>
		</div>
		<!-- <h2><strong><span class="glyphicon glyphicon-warning-sign"></span> WARNING: Read before use</strong></h2>
		'Start' WILL reset the timer if it is currently running. Pressing 'Resume' will break the timer if you have not previously pressed 'Start/Reset'. -->
		<div class="btn-group">
			<!-- <button class="btn btn-danger" ng-click="startTimer()">
				<span class="glyphicon glyphicon-warning-sign"></span>
				<span class="glyphicon glyphicon-play"></span>
				Start/Reset
			</button> -->
			<button class="btn btn-success" ng-click="resumeTimer()"><span class="glyphicon glyphicon-play"></span> Start/Resume</button>
			<button class="btn btn-warning" ng-click="stopTimer()"><span class="glyphicon glyphicon-pause"></span> Pause</button>
			<button class="btn btn-danger" ng-click="resetTimer()"><span class="glyphicon glyphicon-stop"></span> Stop/Reset</button>
		</div>
	</div>
	<div class="page-header">
		<h3>Scores</h3>
	</div>
	<div class="form-group" id="rugbyScoreButtons">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-6"><strong>{{rugby.leftPosTeam.name}} ({{rugby.leftPosTeam.code | uppercase}})</strong> {{rugby.leftScore}}</div>
				<div class="col-md-4 col-xs-6"><strong>{{rugby.rightPosTeam.name}} ({{rugby.rightPosTeam.code | uppercase}})</strong> {{rugby.rightScore}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-xs-6">
					<div class="btn-group btn-group-justified">
						<div class="btn-group" role="group"><button class="btn btn-primary" ng-click="scoreAddLeft(1)">+1</button></div>
						<div class="btn-group" role="group">
							<button class="btn btn-default" ng-click="scoreAddLeft(2)">
								+2
							</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-default" ng-click="scoreAddLeft(3)">
								+3
							</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-default" ng-click="scoreAddLeft(5)">
								+5
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="btn-group btn-group-justified">
						<div class="btn-group" role="group"><button class="btn btn-primary" ng-click="scoreAddRight(1)">+1</button></div>
						<div class="btn-group" role="group">
							<button class="btn btn-default" ng-click="scoreAddRight(2)">
								+2
							</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-default" ng-click="scoreAddRight(3)">
								+3
							</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-default" ng-click="scoreAddRight(5)">
								+5
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-xs-6">
					<div class="btn-group btn-group-justified">
						<div class="btn-group" role="group"><button class="btn btn-warning" ng-click="scoreAddLeft(-1)">-1</button></div>
						<div class="btn-group" role="group">
							<button class="btn btn-warning" ng-click="scoreAddLeft(-2)">-2</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-warning" ng-click="scoreAddLeft(-3)">-3</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-warning" ng-click="scoreAddLeft(-5)">-5</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="btn-group btn-group-justified">
						<div class="btn-group" role="group"><button class="btn btn-warning" ng-click="scoreAddRight(-1)">-1</button></div>
						<div class="btn-group" role="group">
							<button class="btn btn-warning" ng-click="scoreAddRight(-2)">-2</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-warning" ng-click="scoreAddRight(-3)">-3</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-warning" ng-click="scoreAddRight(-5)">-5</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group"><button class="btn btn-danger" ng-click="resetScores()"><span class="glyphicon glyphicon-warning-sign"></span> Reset scores</button></div>
		</div>
	</div>
</form>
