doctype html
html(lang='en')
    head
        title #{project} Graphics Dashboard
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='/stylesheets/scss-out/dashboard.css')
    body
        header: h1 Forge Graphics Dashboard
            small  #{project}
        #elem CONTENT
        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/dash.js')
