doctype html
html(lang='en', ng-app='CGDashboardApp')
    head
        title #{project} Graphics Dashboard
        link(rel='stylesheet', href='/stylesheets/scss-out/dashboard.css')
    body
        .container: header: h1 Forge Graphics Dashboard
            small  #{project}
        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/dash.js')
