doctype html
html(lang='en')
    head
        title #{project} Graphics Dashboard
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='/css/dashboard.css')
    body
        header: ._container.centre
            ._col_2._col_2of3_im: h1 Forge Graphics Dashboard
            ._col_2._col_3_im.align-right: h1: small= project
        ._container.centre#dashboard
            ._col_5#sidebar: ul
                li(v-if='!mounted') Please wait...
                router-link(v-for='route in this.$router.options.routes', tag='li', :to='route.path', :key='route.id')
                    a {{ route.name }}
                
            ._col_4of5#panel
                router-view

        script#bugTemplate(type='text/x-template')
            include templates/bug
        script(src='/jspm_packages/system.js')
        script(src='/js/config.js')
        script System.import('/js/dash.js')
