form(name='ltTitleForm'): .container
    .row
        .form-group.col-md-4
            label(for='lowerThirdText') Left
            input.form-control.lowerThirdText(ng-model='dataStores.title.leftUpper', placeholder='Upper')&attributes(inputAttributes)
            input.form-control.lowerThirdText(ng-model='dataStores.title.leftLower', placeholder='Lower')&attributes(inputAttributes)
        .form-group.col-md-4
            label(for='lowerThirdText') Right
            input.form-control.lowerThirdText(ng-model='dataStores.title.rightUpper', placeholder='Upper')&attributes(inputAttributes)
            input.form-control.lowerThirdText(ng-model='dataStores.title.rightLower', placeholder='Lower')&attributes(inputAttributes)
    .row
        .form-group: .btn-group
            button.btn.btn-success(ng-click='queueAdd()')
                +gi('plus')
                |  Add to queue
            button.btn.btn-warning(ng-click='dataStores.title={}') Reset

// Queue
.page-header(ng-if='dataStores.queue.length'): h4 Queue
    small  Drag to reorder
div(ui-sortable, ng-model='dataStores.queue'): .queueItem.container(ng-repeat='item in dataStores.queue')
    .row
        .col-md-1.col-sm-2.col-xs-2: +gi('menu-hamburger')
        .col-md-3.col-sm-10.col-xs-10: .btn-group(role='group')
            button.btn.btn-danger(ng-click='triggerTitleLowerThird(item)'): +gi('play')
            button.btn.btn-warning(ng-click='editQueueItem(item, $index)'): +gi('edit')
            button.btn.btn-danger(ng-click='dataStores.queue.splice($index, 1)'): +gi('remove')
        .col-md-8.col-sm-12.col-xs-12: span.itemDescriptor
            small Left
            |  {{item.leftUpper}}-{{item.leftLower}}
            small  | Right
            |  {{item.rightUpper}}-{{item.rightLower}}
            small  | Options: {{item.titleClasses}}

