form: .container
    .form-group
        .row: .col-md-4.col-md-push-2
            +input('dataStores.teams.sport', 'Sport')
        .row
            .col-md-4.col-xs-6: +input('dataStores.teams.leftPosScore', 'Score')
            .col-md-4.col-xs-6: +input('dataStores.teams.rightPosScore', 'Score')
        .row
            .col-md-4.col-xs-6: select.form-control(
                ng-model='dataStores.teams.leftPosTeam',
                ng-options='team.name for team in teams'
            )
            .col-md-4.col-xs-6: select.form-control(
                ng-model='dataStpres.teams.rightPosTeam',
                ng-options='team.name for team in teams'
            )
        .row
            .col-md-4.col-xs-6 {{dataStores.teams.leftPosTeam.name}}
            .col-md-4.col-xs-6 {{dataStores.teams.rightPosTeam.name}}
        .row: .col-md-4.col-md-push-2: +input('dataStores.teams.venue', 'Venue')
    .form-group
        +cb('Show scores', 'dataStores.teams.showScores')
