.container
    .row: .col-md-12
        .select.form-control(ng-options='icon for icon in cuIcons', ng-model='cComingUp.icon')
    .row: .col-md-12
        +input('cComingUp.sport', 'Sport')
    .row: .col-md-12
        +input('cComingUp.time', 'Time')
    .row: .col-md-12: .btn-group
        button.btn.btn-success(
            ng-click=`
                dataStores.comingUp.push(cComingUp);
                cComingUp = {}`,
            ng-disabled='dataStores.comingUp.length > 3'
        ): +gi('plus')
        button.btn.btn-danger(
            ng-click='triggerComingUp(dataStores.comingUp)',
            ng-disabled='dataStores.comingUp.length < 1'
        ): +gi('play')
    .row(ng-repeat='cu in dataStores.comingUp')
        span {{cu}}
        button.btn.btn-warning(
            ng-click='dataStores.comingUp.splice($index, 1)'
        ): span.glyhpicon.glyphicon-minus
