.form-group
    .btn-group-vertical(role='group')
        button.btn.btn-danger(ng-click='triggerResetCG()')
            +gi('warning-sign')
            |  Reset Character Generator
        button.btn.btn-warning(ng-click='clearLocalStorage()')
            +gi('trash')
            |  Reset Dashboard local storage
    .container
        .row: .col-md-12
            +cb('Show advanced options', 'adv')
        .row(ng-if='adv'): .col-md-12
            each id in [...Array(3).keys()]
                label
                    toggle.btn-xs(ng-model=`general.showSm[${id}]`)
                    span: img(src='/img/sm.jpg', style='width: 20px;')
