-
    var vals = [10, 1, 0.5]
.container
    .row
        .col-md-6.col-xs-6
            h4 UOS
            span {{general.score.uos}}
        .col-md-6.col-xs-6
            h4 SHU
            span {{general.score.shu}}
    .row
        each id in ['u', 's']
            .col-md-6.col-xs-6
                .btn-group: each val in vals
                    +sb(val, true, id)
                .btn-group: each val in vals.slice().reverse()
                    +sb(val, false, id)
    .row
        .col-md-6.col-md-push-3
            h4 Total points
            span {{general.score.total}}
    .row
        .col-md-6.col-md-push-3
            .btn-group: each val in vals
                +sb(val, true, 't')
            .btn-group: each val in vals.slice().reverse()
                +sb(val, false, 't')
    .row
        .col-md-6.col-xs-6.col-md-push-3.col-xs-push-3
            button.btn.btn-danger(ng-click='triggerScore()')
                +gi('play')
                | Show
