form
  #rugbyTeamSelects.form-group
    .container
      .row
        .col-md-4.col-xs-6
          select.form-control(ng-model='scratch.leftPosTeam', ng-options='team.name for team in teams')
        .col-md-4.col-xs-6
          select.form-control(ng-model='scratch.rightPosTeam', ng-options='team.name for team in teams')
      .row
        .col-md-4.col-xs-6
          span Current: {{rugby.leftPosTeam.name}}
        .col-md-4.col-xs-6
          span Current: {{rugby.rightPosTeam.name}}
      .row
        .col-md-12
          button.btn.btn-danger(ng-click='setTeams()') Set teams
  .form-group
    .checkbox
      label
        toggle(ng-model='rugby.showRugby', offstyle='btn-warning', onstyle='btn-danger')
        span(ng-if='!rugby.leftPosTeam || !rugby.rightPosTeam')
          strong
            span.glyphicon.glyphicon-warning-sign
            |  SELECT TEAMS ABOVE!
        |  Show Rugby/Football bug
    .page-header
      h3 Timer
    .container
      .row
        h3 Set timer
        |  
        input.form-control(type='text', autocorrect='off', autocomplete='off', autocapitalize='off', spellcheck='false', ng-model='dataStores.timer.mins', placeholder='Minutes')
        |  
        input.form-control(type='text', autocorrect='off', autocomplete='off', autocapitalize='off', spellcheck='false', ng-model='dataStores.timer.secs', placeholder='Seconds')
        |  
        button.btn.btn-danger(ng-click='setTime()') Set
    .container
      .row
        h3 Set limiter
        |  
        input.form-control(type='text', autocorrect='off', autocomplete='off', autocapitalize='off', spellcheck='false', ng-model='dataStores.limiter.mins', placeholder='Limiter Minutes')
        |  
        input.form-control(type='text', autocorrect='off', autocomplete='off', autocapitalize='off', spellcheck='false', ng-model='dataStores.limiter.secs', placeholder='Limiter Seconds')
        |  
        button.btn.btn-danger(ng-click='setLimiter()') Set
      .row
        .checkbox
          label
            toggle(ng-model='rugby.isCountdown')
            |  Count down
      .row
        .checkbox
          label
            toggle(ng-model='rugby.hardLimiter')
            |  Hard limiter
      .row
        span
          | If the limiter is set to 0, there will be no time limit. If set to hard, the timer will stop when the time limit is reached. If set to soft, the timer will turn red above the time limit.
    .btn-group
      button.btn.btn-success(ng-click='resumeTimer()')
        span.glyphicon.glyphicon-play
        |  Start/Resume
      |  
      button.btn.btn-warning(ng-click='stopTimer()')
        span.glyphicon.glyphicon-pause
        |  Pause
      |  
      button.btn.btn-danger(ng-click='resetTimer()')
        span.glyphicon.glyphicon-stop
        |  Stop/Reset
  .page-header
    h3 Scores
  #rugbyScoreButtons.form-group
    .container
      .row
        .col-md-4.col-xs-6
          strong {{rugby.leftPosTeam.name}} ({{rugby.leftPosTeam.code | uppercase}})
          |  {{rugby.leftScore}}
        .col-md-4.col-xs-6
          strong {{rugby.rightPosTeam.name}} ({{rugby.rightPosTeam.code | uppercase}})
          |  {{rugby.rightScore}}
      .row
        .col-md-4.col-xs-6
          .btn-group.btn-group-justified
            .btn-group(role='group')
              button.btn.btn-primary(ng-click='scoreAddLeft(1)') +1
            .btn-group(role='group')
              button.btn.btn-default(ng-click='scoreAddLeft(2)')  +2
            .btn-group(role='group')
              button.btn.btn-default(ng-click='scoreAddLeft(3)')  +3
            .btn-group(role='group')
              button.btn.btn-default(ng-click='scoreAddLeft(5)')  +5
            .btn-group(role='group')
              button.btn.btn-default(ng-click='scoreAddLeft(6)')  +6
        .col-md-4.col-xs-6
          .btn-group.btn-group-justified
            .btn-group(role='group')
              button.btn.btn-primary(ng-click='scoreAddRight(1)') +1
            .btn-group(role='group')
              button.btn.btn-default(ng-click='scoreAddRight(2)')  +2
            .btn-group(role='group')
              button.btn.btn-default(ng-click='scoreAddRight(3)')  +3
            .btn-group(role='group')
              button.btn.btn-default(ng-click='scoreAddRight(5)')  +5
            .btn-group(role='group')
              button.btn.btn-default(ng-click='scoreAddRight(6)')  +6
      .row
        .col-md-4.col-xs-6
          .btn-group.btn-group-justified
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddLeft(-1)') -1
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddLeft(-2)') -2
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddLeft(-3)') -3
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddLeft(-5)') -5
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddLeft(-6)') -6
        .col-md-4.col-xs-6
          .btn-group.btn-group-justified
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddRight(-1)') -1
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddRight(-2)') -2
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddRight(-3)') -3
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddRight(-5)') -5
            .btn-group(role='group')
              button.btn.btn-warning(ng-click='scoreAddRight(-6)') -6
      .form-group
        button.btn.btn-danger(ng-click='resetScores()')
          span.glyphicon.glyphicon-warning-sign
          |  Reset scores
