include /mixins

.page-header: h3 Voices of
include varsityLive/_voicesOf

.page-header: h3 In-game call-in
include varsityLive/_callIn

.page-header: h3 Generic lower third
include varsityLive/_lowerThird
