$bout-spacing: 2.2vw;
$bout-left: 19vw;

#boxingBug {
	@include bug-round-right;
	@include bug-round-left;
	@include bug-transition($bug-transition-duration, 0s, 0.25s);
	@include bug-styling;

	@include overlay($light-colour);
	color: $dark-colour;

	position: absolute;

	width: 29.5vw;
	left: 20vw;
	z-index: -1;


	> * {
		position: absolute;
		font-size: 1.5vw;
	}

	#round {
		left: 14.5vw;
		text-transform: uppercase;
		color: $submid-colour;
		line-height: $bug-height;
	}

	.bout {
		color: $mid-colour;
		font-weight: 700;

		&.complete {
			color: $dark-colour;
		}
	}

	#bout {
		&1 {
			left: $bout-left + $bout-spacing;
		}

		&2 {
			left: $bout-left + ($bout-spacing * 2);
		}

		&3 {
			left: $bout-left + ($bout-spacing * 3);
		}
	}

	#timer {
		font-size: 2.2vw;
		left: 6.2vw;
		font-weight: 700;
		z-index: -1;
		color: $light-colour;
	}

	&:after {
		position: absolute;
		@include bug-round-right;
		box-shadow: $right-box-shadow;
		content: "";
		@include overlay($dark-colour);
		left: 2vw;
		width: 11vw;
		height: $bug-height;
		z-index: -2;
	}
}
