$rugby-bug-width: $bug-height * 12;
$team-name-width: $bug-height * 1.9;
$left-team-name-left: $rugby-bug-width * 0.51;

#rugbyBug {
	@include bug-round-right;
	@include bug-round-left;
	@include bug-transition($bug-transition-duration, 1s, 0.25s);
	@include bug-styling;
	@include overlay($light-colour);

	color: $dark-colour;

	position: absolute;

	width: $rugby-bug-width;
	left: $aux-bug-left;
	z-index: 2;

	> * {
		position: absolute;
		//font-size: 1.5vw;
	}

	#timer {
		@extend %timerText;

		span {
			position: relative;
			top: 0.2vw;
			line-height: 100%;
		}
	}

	&:after {
		@extend %timerPod;
	}

	&.overtime:after {
		@extend %timerPod;
		@include overlay(#880000);
	}

	.teamName {
		@extend %bugPod;

		text-align: center;
		//font-size: 2vw;
		font-weight: 700;
		box-shadow: none;

		margin: 0px;
		width: $team-name-width;
		//padding: 0px 0.6vw;
		padding-top: 0.2vw;

		transform: translateY(0px);

		text-transform: uppercase;

		//box-shadow: inset $lower-box-shadow;

		&#leftPosition {
			left: $left-team-name-left + 1;
			//padding-left: 2.5vw;
		}

		&#rightPosition {
			left: $left-team-name-left + $team-name-width +1;
			//padding-left: 1vw;
		}
	}

	.scoreContainer {
		width: 5vw;
		transform: translateY(0px);

		&#leftScoreContainer {
			left: $rugby-bug-width * 0.385;
		}

		&#rightScoreContainer {
			left: $rugby-bug-width * 0.8615;
		}

		.score {
			//font-size: 2.2vw;
			z-index: 10;
			display: block;
			//position: absolute;
			text-align: center;
			font-weight: 700;
			width: 100%;
			//left: 60%;

			&#leftScore {
				//margin-right: 0.8vw;
			}

			&#rightScore {
				//left: ($aux-bug-left + $rugby-bug-width);
				//left: 0.5vw;
				//left: ($aux-bug-left + $rugby-bug-width) * 0.52;
			}
		}

	}
}
