.colourScheme {
	&.shu {
		color: $light-colour;
		@include overlay($colour-c);
	}

	&.uos {
		color: $dark-colour;
		@include overlay($colour-b);
	}

	&.fge {
		color: $light-colour;
		@include overlay(#26bae1);
	}
}
