_dark-colour = #222222
_light-colour = #dddddd
_dark-colour_sub = darken(_dark-colour, 20%)
_light-colour_sub = darken(_light-colour, 10%)
_dark-colour_super = lighten(_dark-colour, 10%)
_light-colour_super = lighten(_light-colour, 20%)
_mid-colour = #888888

_body_clr = dark
_body_opposite_clr = light
_header_clr = dark_sub
_panel_clr = light
