_dark-colour = #222222
_light-colour = #dddddd
_dark_sub-colour = darken(_dark-colour, 20%)
_light_sub-colour = darken(_light-colour, 10%)
_dark_super-colour = lighten(_dark-colour, 10%)
_light_super-colour = lighten(_light-colour, 20%)
_mid-colour = #888888
_dark-colour_sub = _dark_sub-colour
_light-colour_sub = _light_sub-colour
_dark-colour_super = _dark_super-colour
_light-colour_super = _light_super-colour

_green-colour = #68b51d
_red-colour = #df0f39

_body_clr = dark
_body_opposite_clr = light
_header_clr = dark_sub
_panel_clr = dark_sub
_panel_opposite_clr = light

_button_clr_inactive = _light-colour
_button_clr_text = _dark-colour
_button_clr_text_active = _light-colour
_button_clr_active = _red-colour
