.container
    .row: .col-md-12: +input('desc.vo.venue', 'Venue (optional)')
    .row: .col-md-12: +input('desc.vo.sport', 'Sport (optional)')
    div(ng-repeat='person in desc.vo.people track by $index'): .row
        .col-md-2.col-xs-2: button.btn.btn-warning(ng-click='desc.vo.people.splice($index, 1)'): +gi('remove')
        .col-md-10.col-xs-10: +input('desc.vo.people[$index]', 'Name')
    .row: .col-md-12: .btn-group
        button.btn.btn-success(
            ng-disabled='desc.vo.people.length > 2',
            ng-click="desc.vo.people.push('')"
        )
            +gi('plus')
            |  Add person
        button.btn.btn-danger(
            ng-disabled='desc.vo.people.length < 1',
            ng-click='triggerVo(desc.vo)'
        ): +gi('play')
        button.btn.btn-warning(ng-click='hideVo()'): +gi('stop')
    .row: .col-md-12: span(ng-if='desc.vo.people.length > 2')
        +gi('warning-sign')
        strong WARNING:
        |  Don't display a lower third when there are three names on screen
