.lowerThird.headlineLowerThird(ng-controller='lowerThirdsCtrl', ng-show='showHeadline')
  .largeTopSegmentBackground(ng-show='showHeadlineLargeTop')
    .lowerThirdContainer
      .textRow
        .segment.largeTopSegment
          span {{headlineTop}}
  .upperSegmentBackground(ng-show='showHeadline && !showHeadlineLargeTop')
    .lowerThirdContainer
      .textRow
        .segment.upperSegment
          span {{headlineTop}}
  .lowerSegmentBackground(ng-show='showHeadline && !showHeadlineLargeTop')
    .lowerThirdContainer
      .segment.lowerSegment(ng-show='showHeadline && !showHeadlineLargeTop')
        span {{headlineMain}}
