.lowerThird.teamsLowerThird(ng-show='showTeams', ng-controller='lowerThirdsCtrl')
  img.logo.leftLogo(ng-src='/img/{{teamsContent.leftPosTeam.code}}.svg', ng-show='showTeams')
  |  
  img.logo.rightLogo(ng-src='/img/{{teamsContent.rightPosTeam.code}}.svg', ng-show='showTeams')
  #mtltContainer(ng-show='showTeams')
    #leftTeamContainer.teamContainer.colourScheme(ng-class='teamsContent.leftPosTeam.code')
      span.team(ng-show='showTeams') {{teamsContent.leftPosTeam.name}}
      |  
      span.score(ng-show='showTeams && teamsContent.showScores') {{teamsContent.leftPosScore}}
    #rightTeamContainer.teamContainer.colourScheme(ng-class='teamsContent.rightPosTeam.code')
      span.score(ng-show='showTeams && teamsContent.showScores') {{teamsContent.rightPosScore}}
      |  
      span.team(ng-show='showTeams') {{teamsContent.rightPosTeam.name}}
  |  
  img#vs(src='/img/vs.svg', ng-show='showTeams && !teamsContent.showScores')
  #sportContainer.auxContainer(ng-show='showTeams')
    span {{teamsContent.sport}}
  #venueContainer.auxContainer(ng-show='showTeams')
    span {{teamsContent.venue}}
