@require 'normalize.css/normalize.css'
@require 'jeet/styl'

@require 'fonts/_dosis'

@require 'dashboard/_variables'
@require 'dashboard/_colourSchemes'
@require 'dashboard/_media'
@require 'dashboard/util/_layout'
@require 'dashboard/util/_helpers'

*
    box-sizing: border-box

body
    $_clr_{_body_clr}()
    font-family Dosis

header
    $_clr_{_header_clr}()
    width 100%
    margin-bottom 20px
    {$_h_headers}
        margin 15px 0px

.header-panel
    border-bottom 2px dotted _mid-colour

#dashboard
    #sidebar
        padding 5px 0px
        ul
            list-style none
            padding 0px
            margin 0px
            li
                padding 5px 10px
                margin-bottom 5px
                border-radius 5px
                &:hover, &.active
                    $_clr_{_body_opposite_clr}_l()
                a
                    color inherit
                    text-decoration none
    #panel
        $_clr_{_panel_clr}()
        border-radius 10px
        padding 10px 20px
        overflow auto
        {$_h_headers}
            margin 10px 0px

