@require 'normalize.css/normalize.css'
@require 'jeet/styl'

@require 'fonts/_dosis'

@require 'dashboard/_variables'
@require 'dashboard/_colourSchemes'
@require 'util/_layout'
@require 'util/_helpers'

*
    box-sizing: border-box

body
    @extend $_clr_{_body_clr}
    font-family Dosis

header
    @extend $_clr_{_header_clr}
    width 100%
    margin-bottom 20px
    {$_h_headers}
        margin 15px 0px

#dashboard
    #sidebar
        padding 5px 0px
        ul
            list-style none
            padding 0px
            margin 0px
            li
                padding 5px 10px
                margin-bottom 5px
                border-radius 5px
                &:hover
                    @extend $_clr_{$_clr_opposite(_body_clr)}
                a
                    color inherit
                    text-decoration none
    #panel
        @extend $_clr_{_panel_clr}
        border-radius 10px
        padding 10px 20px
        overflow auto

