@require 'normalize.css/normalize.css'
@require 'jeet/styl'

@require 'fonts/_dosis'

@require 'dashboard/_variables'
@require 'dashboard/_colourSchemes'
@require 'dashboard/_media'
@require 'dashboard/util/_layout'
@require 'dashboard/util/_helpers'

*
    box-sizing: border-box

body
    $_clr_{_body_clr}()
    font-family Dosis

header
    $_clr_{_header_clr}()
    width 100%
    height 6vh
    margin-bottom 2vh
    padding 0px 10px
    line-height @height
    overflow hidden
    h1
        font-size @height * 0.5
    {$_h_headers}
        text-overflow clip
        padding 0px
        margin 0px

.header-panel
    border-bottom 2px dotted _mid-colour
    margin-bottom 15px
    {$_h_headers}
        margin 3px 0px

#dashboard
    height 90vh
    > *
        @media (min-width: $_m_mobile)
            height 95%
    #sidebar
        padding 5px 0px
        ul
            list-style none
            padding 0px
            margin 0px
            li
                padding 5px 10px
                margin-bottom 5px
                @media (min-width: $_m_mobile)
                    border-radius 5px
                &:hover, &.active
                    $_clr_{_body_opposite_clr}_l()
                a
                    color inherit
                    text-decoration none
    #panel
        $_clr_{_panel_clr}()
        padding 10px 20px
        overflow auto
        @media (min-width: $_m_mobile)
            border-radius 10px

button.toggle-button
    &.active
        color #f00
